<div
  class="solid h-[100vh] w-60 overflow-y-auto border-r border-zinc-300"
  (click)="selectedNote = null"
>
  <header (click)="$event.stopPropagation()">
    @if (isSearchMode) {
      <app-search-box (toggle)="toggleSearchMode()" (search)="search($event)" />
    } @else {
      <app-create-and-search-btn (toggle)="toggleSearchMode()" />
    }
  </header>
  <ul class="px-2">
    @for (note of filteredNotes(); track note) {
      <li (click)="$event.stopPropagation(); selectNote(note)">
        <div
          class="grid gap-1 px-3 py-2"
          [ngClass]="
            note === selectedNote
              ? 'soild rounded-md border-l-[5px] border-[#FF4C43] bg-zinc-100'
              : 'after:solid relative after:absolute after:bottom-0 after:mx-3 after:w-11/12 after:border-b after:border-zinc-200'
          "
        >
          <h1 class="text-sm font-bold">{{ note.title }}</h1>
          <p class="line-clamp-2 text-sm text-[#888889]">{{ note.content }}</p>
          <span class="text-xs text-[#888889]">{{ formatUpdateAt(note.updatedAt) }}</span>
        </div>
      </li>
    }
  </ul>
</div>
