@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container.ql-snow {
  border-width: 0;
}

#ql-picker-options-0 {
  bottom: 100%;
  top: auto;
}
