<nav class="h-[100vh] w-44 bg-[#2E3236] px-1 py-8 text-sm text-[#FFFFFF]">
  <div class="relative flex gap-3 rounded-md bg-[#FF4C43] py-0.5 pl-8">
    <fa-icon class="absolute left-2" [icon]="faAngleDown" /><fa-icon [icon]="faNoteSticky" />Notes
  </div>
  <ul>
    <li>
      <div class="flex gap-3 py-0.5 pl-12"><fa-icon [icon]="faFolder" />Untagged</div>
    </li>
    <li>
      <div class="flex gap-3 py-0.5 pl-12"><fa-icon [icon]="faSquareCheck" />Todo</div>
    </li>
    <li>
      <div class="flex gap-3 py-0.5 pl-12"><fa-icon [icon]="faCalendar" />Today</div>
    </li>
    <li>
      <div class="flex gap-3 py-0.5 pl-12"><fa-icon [icon]="faLock" />Locked</div>
    </li>
  </ul>
  <div class="flex gap-3 py-0.5 pl-8"><fa-icon [icon]="faTrashCan" />Trash</div>
  <div class="relative flex gap-3 py-0.5 pl-8">
    <fa-icon class="absolute left-2" [icon]="faAngleRight" /><fa-icon [icon]="faAngular" />bear
  </div>
  <div class="relative flex gap-3 py-0.5 pl-8">
    <fa-icon class="absolute left-2" [icon]="faAngleRight" /><fa-icon [icon]="faHashtag" />tag
  </div>
</nav>
