<div
  class="select-none py-0.5 pl-8"
  [ngClass]="{ 'rounded-md bg-[#FF4C43]': selectedCategory === wrapCategory.name }"
  (click)="selectCategory(wrapCategory.name)"
>
  <div class="relative flex gap-3">
    @if (!!wrapCategory.categories) {
      @if (wrapCategory.isOpen) {
        <fa-icon
          class="absolute -left-6"
          [icon]="faAngleDown"
          (click)="toggleOpenCategory(wrapCategory, false)"
          (click)="disableToggle($event)"
        />
      } @else {
        <fa-icon
          class="absolute -left-6"
          [icon]="faAngleRight"
          (click)="toggleOpenCategory(wrapCategory, true)"
          (click)="disableToggle($event)"
        />
      }
    }
    <fa-icon [icon]="wrapCategory.icon" />{{ wrapCategory.name }}
  </div>
</div>
@if (!!wrapCategory.categories && wrapCategory.isOpen) {
  <ul>
    @for (category of wrapCategory.categories; track category) {
      <li>
        <app-link-list
          [selectedCategory]="selectedCategory"
          [wrapCategory]="category"
          (select)="selectCategory($event)"
        />
      </li>
    }
  </ul>
}
