<div class="relative flex gap-3 rounded-md bg-[#FF4C43] py-0.5 pl-8">
  @if (!!wrapCategory.categories) {
    @if (isOpen) {
      <fa-icon class="absolute left-2" [icon]="faAngleDown" (click)="toggleOpen(false)" />
    } @else {
      <fa-icon class="absolute left-2" [icon]="faAngleRight" (click)="toggleOpen(true)" />
    }
  }
  <fa-icon [icon]="wrapCategory.icon" />{{ wrapCategory.name }}
</div>
@if (!!wrapCategory.categories && isOpen) {
  <ul>
    @for (category of wrapCategory.categories; track category) {
      <li>
        <div class="flex gap-3 py-0.5 pl-12">
          <fa-icon [icon]="category.icon" />{{ category.name }}
        </div>
      </li>
    }
  </ul>
}
